<article class="welcome">
    <section class="welcome-container">
        <div class="row">
            <div class="col-1">
                <h1>Welcome</h1>
                <p>Barry Rothstein was accepted as a juried member of the Pastel Society of America in May 2012. His Associate Member status in this elite group of artists is a huge honor.</p>
                <p>One of his paintings "Vegas Sky" received a Merit Award on February 13, 2015 at the Pastel Society of Tampa Bay juried show in Dunedin, Florida.</p>
            </div>
            <div class="col-2">
                <img src="../../assets/br-photo.jpg"/>
            </div>
        </div>
        
    </section>
</article>

