<article class="newest-exhibit">
    <section class="newest-exhibit-container">
        <div class="row">
            <div class="col-1">
                <h1>On Exhibit</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <img src="../../assets/suntrust-bldg.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p>SunTrust Building in Downtown St. Petersburg at 300 1st Ave S. Suite 402 (weekdays during business ours and by appointment)</p>
            </div>
        </div>
    </section>
</article>
