
<article class="about">
    <h1>About the Artist</h1>
    <h2>Barry Rothstein</h2>    
    <section class="about-container">
        <p>He's a native of New York City, and has made St. Petersburg, Florida his home for 
            the past 30 years and counting. While in New York City he has studied Drawing, Art,
            Illustration, and Design at the City University of New York (CUNY), The Parsons School 
            of Art and Design, School of Visual Arts, and The Fashion Institute of Technology. During
            his time in Florida he has studied at the Arts Center of St. Petersburg. 
        </p>
        <p>A contributing artist to several magazines, Uncle Barry's works have been widely exhibited
            at numerous galleries and art shows in New York, Atlanta, and Florida. His most notable 
            exhibitions include Sothby's Auction Galleries, Washington Square Art Exhibit, Fresh Meadows
            Art Show, Atlantic City Boardwalk Art Exhibition, and the Ritz-Carlton Atlanta. At the Washington 
            Square Art Exhibit he won an award for his Pen & Ink/Etching work.
        </p>
        <p>In his local area in Florida nis works have been exhibited at Artrageous Gallery, Adrian Howard
            Gallery, Paradise Gallery, Fiorini Gallery, TW Curtis Gallery, Pinellas County Fair Art Show, The 
            Arts Center, and the Tampa Pride Art Exhibit. Two of these shows brought him four different awards 
            and ribbons. At the Pinellas County Fair Art Show he received two awards. Also, at the Tampa Pride 
            Art Exhibit he was awarded two ribbons.
        </p>
        <p>Uncle Barry's work was selected as one of 20 local artists in the Tampa area for the 2007 Westshore 
            Expose Art Project. He has been represented and on display at the Finn Gallery and can be currently 
            seen at the offices of Executive Reporting Service in Clearwater where he had a successful show 
            November of 2011. Uncle Barry is also represented worldwide on Fine Art America.
        </p>
        <p>
            Uncle Barry was featured in the Tampa Bay Magazine July/August issue 2006.
        </p>        
        <p>
            In May of 2012, Uncle Barry was accepted as a member of the Pastel Society of America, a juried 
            organization and an elite grup of artists. Uncle Barry received a Merit Award at the Pastel 
            Society of Tampa Bay Art Show on February 13, 2015 for "Vegas Sky".
        </p>
        <p>
            Many of Barry Rothstein's works may be found in numerous provate collections worldwide including 
            big names like Sir Elton John.
        </p>
        <p>
            He is a member of several Boards including being Past President of the St. Petersburg Downtown 
            Business Association. He is also the Director of Business Development for Consonant Custom Media 
            and is active in World Ventures/Dreamtrips when he is not working on his art.
        </p>
        <p>
            Uncle Barry recently started in the Real Estate industry down in Florida selling million dollar 
            houses.
        </p>
    </section>
</article>

