.portfolio-samples{
    background-color: #ffffff;
    min-height: 720px;
}

.portfolio-samples-container{
    width: 75em;
    margin: 0 auto;
}

h1{
    color: #c88462;
    font-family: 'Caveat', cursive;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    margin-bottom: .5em;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px; 
}

.col{
    width: 20em;
    border: 1px solid #dadada;
    margin: 1em;
}

.portfolio-image{

}

.portfolio-image img{
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
    top: -60px;
    left: 12%;
    transition: border-radius 0.5s linear;
}

.portfolio-image a{
    width: 100%;
}

.portfolio-image img:hover{
    border-radius: 15%;
}