<article class="portfolio-samples">
    <section class="portfolio-samples-container">
        <div class="row">
            <h1>Gallery Sampler</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="portfolio-image">
                    <div class="dtbaker_photo_border">
                    <div>
                        <a href="" rel="bookmark" tabindex="0"><img width="200" height="220" src="../../assets/renaissance-387x260.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></a>					</div>
                    </div>
                </div>
                <h3 class="entry-title"><a href="" rel="bookmark" tabindex="0">Places</a></h3>
                <p>This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a[…]</p>
                <a href="" title="Permalink to Summer Fashion, what to expect." class="pastel_blog_more" tabindex="0">More</a>
            </div>
            <div class="col">
                <div class="portfolio-image">
                    <div class="dtbaker_photo_border">
                    <div>
                        <a href="https://pastel-floral.themes.dtbaker.net/2016/07/13/review-cupcake-recipe/" rel="bookmark" tabindex="0"><img width="200" height="220" src="../../assets/surrounded-by-the-magic-webshot-387x260.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></a>					</div>
                    </div>
                </div>
                <h3 class="entry-title"><a href="" rel="bookmark" tabindex="0">People</a></h3>
                <p>This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a[…]</p>
                <a href="" title="Permalink to Summer Fashion, what to expect." class="pastel_blog_more" tabindex="0">More</a>
            </div>
            <div class="col">
                <div class="portfolio-image">
                    <div class="dtbaker_photo_border">
                    <div>
                        <a href="" rel="bookmark" tabindex="0"><img width="200" height="220" src="../../assets/cats-in-the-window-387x260.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></a>					</div>
                    </div>
                </div>
                <h3 class="entry-title"><a href="" rel="bookmark" tabindex="0">Animals</a></h3>
                <p>This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a[…]</p>
                <a href="" title="Permalink to Summer Fashion, what to expect." class="pastel_blog_more" tabindex="0">More</a>
            </div>
            <div class="col">
                <div class="portfolio-image">
                    <div class="dtbaker_photo_border">
                    <div>
                        <a href="" rel="bookmark" tabindex="0"><img width="200" height="220" src="../../assets/let-them-eat-cake-150x150.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""></a>					</div>
                    </div>
                </div>
                <h3 class="entry-title"><a href="" rel="bookmark" tabindex="-1">Foods</a></h3>
                <p>This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a blog post about becoming your own boss.&nbsp;This is a[…]</p>
                <a href="" title="Permalink to Summer Fashion, what to expect." class="pastel_blog_more" tabindex="0">More</a>
            </div>
        </div>
    </section>
</article>
