<article id="post-56" class="post-56 page type-page status-publish hentry pastel_featured_image_style_normal">
    <header class="entry-header">
      <h1 class="entry-title"></h1>
    </header><!-- .entry-header -->

    <div class="entry-content">
      <div data-elementor-type="wp-page" data-elementor-id="56" class="elementor elementor-56 elementor-bc-flex-widget" data-elementor-settings="[]">
        <div class="elementor-inner">
          <div class="elementor-section-wrap">
            <section class="featured-painting" data-id="35ie9e7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
      <div class="featured-container elementor-column-gap-default">
        <div class="elementor-row">
          <div class="elementor-element elementor-element-slu2x28 pastel-diagonal-normal elementor-column elementor-col-100 elementor-top-column" data-id="slu2x28" data-element_type="column">
            <div class="elementor-column-wrap  elementor-element-populated">
              <div class="elementor-widget-wrap">
              <div class="elementor-element elementor-element-17hurmb elementor-widget elementor-widget-image" data-id="17hurmb" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container">
                  <div class="featured-image">
                    <img width="519" height="320" src="../../assets/image.jpg" class="attachment-full size-full" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            </section>
          </div>
        </div>
      </div>
    </div><!-- .entry-content -->
</article><!-- #post-## -->
