.featured-painting{
    background-image: url(./header-flowers-bottom-all-1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 90vh;
    margin: 35px auto 0;
}
.featured-image img{
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
.featured-container{
    margin: 0 auto;
    width: 30em;
}
