<article class="gallery">
    <h1>The Gallery</h1>
    <section class="gallery-container" id="animals">
        <div class="images-container" id="images-container">
            <div>
                <img src="../../assets/gallery/animals/Belle.png" /> 
            </div>
            <div>
                <img src="../../assets/gallery/animals/Belle-2.jpg" />
            </div>
            <div>
                <img src="../../assets/gallery/animals/blue-gator-small-web.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Brodie.png" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/cats-in-the-window.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Charlie-LJ.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Collette-French-Bulldog.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Dickens-Hi-Rez-Webshot-2.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/lake-home-small-webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Logan-Peach.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/maurice.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Melina.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Oliver.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Reba-Guiness.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Sampson.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Sky-Dogs.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/Two-Dogs.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/unnamed.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/winthrop-webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/animals/wintry-beach-sitges.jpg" />     
            </div>
                        <div>
                <img src="../../assets/gallery/animals/Zorro.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/1380-1st-avenue.jpg" /> 
            </div>
            <div>
                <img src="../../assets/gallery/places/amsterdam-webshot.jpg" />
            </div>
            <div>
                <img src="../../assets/gallery/places/beach_boy.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/central-park-upper-east-side-webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/chelsea-morning.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/feed-the-birds-central-park.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/Lake-Home.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/maid-of-the-mist.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/new-york-christmas-rockefeller-center.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/paris-at-night.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/prague-underground.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/rain-in-florence.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/rain-in-spain.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/Reflections.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/renaissance.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/san-genarro.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/saturday-morning-market.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/siena.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/Stormy-Sunset.jpeg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/surrounded-by-the-magic-webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/tampa-theatre-night-lights.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/The-Power-of-One-Low-Resolution.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/times-square-remembered.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/unnamed-1.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/Vegas-Sky-Webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/west-village.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/places/wintry-beach-sitges.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/are-you-there.jpg" /> 
            </div>
            <div>
                <img src="../../assets/gallery/people/artist-of-plaza-mayor.jpg" />
            </div>
            <div>
                <img src="../../assets/gallery/people/gitty.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/going-home.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/now-is-the-time.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/reaching-for-gold.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/surrounded-by-the-magic-webshot.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/unnamed-1.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/people/waiting-for-the-parade.jpg" />     
            </div>
            <div>
                <img src="../../assets/gallery/foods/let-them-eat-cake.jpg" /> 
            </div>
            <div>
                <img src="../../assets/gallery/foods/red-white-and-blue-and-green.jpg" />
            </div>
            <div>
                <img src="../../assets/gallery/foods/saturday-morning-market.jpg" />     
            </div>
        </div>
        <div class="controls-container">

        </div>
    </section>
</article>