.portfolio-samples{
    background-color: #ffffff;
    min-height: 720px;
}

.portfolio-samples-container{
    width: 75em;
    margin: 0 auto;
}

h1{
    color: #c88462;
    font-family: 'Caveat', cursive;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    margin-bottom: .5em;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.col{
    width: 20em;
}

.portfolio-image{

}
.elementor-65 .elementor-element.elementor-element-ipr9b0x:not(.elementor-motion-effects-element-type-background), .elementor-65 .elementor-element.elementor-element-ipr9b0x > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-65 .elementor-element.elementor-element-ipr9b0x {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 150px 0px;
}
@media only screen and (min-width: 769px){
   .pastel-diagonal-left {
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: url(#clip-diagonal-left);
    clip-path: url(#clip-diagonal-left);
    z-index: 40;
    transform: translate3d(0, 0, 0);
} 
}

.elementor-section {
    position: relative;
}
.elementor-65 .elementor-element.elementor-element-ipr9b0x > .elementor-container {
    max-width: 1140px;
}
.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}
.elementor-section .elementor-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 768px){
   .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
} 
}


.elementor-column {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px;
}

@media screen and (min-width: 37.5em){
   .pastel_page_option_width_full .elementor-column-wrap {
    padding: 0;
} 
}

.pastel_page_option_width_full .elementor-column-wrap {
    padding: 0 10px;
}
.elementor-column-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.elementor-65 .elementor-element.elementor-element-ig0tbn9 {
    text-align: center;
}
.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}
.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}

.elementor-65 .elementor-element.elementor-element-ig0tbn9 > .elementor-widget-container {
    padding: 0px 0px 20px 0px;
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.elementor-widget-container {
    padding-top: 1px;
}

.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

@media screen and (min-width: 37.5em){
    .blog_posts[data-output=slider] .dtbaker-blog-posts.slick-initialized {
    overflow: visible;
    margin: 0 55px;
}
}


.blog_posts[data-output=slider] .dtbaker-blog-posts.slick-initialized {
    height: auto;
    overflow: hidden;
    margin: 0;
}
.blog_posts[data-output=slider] .dtbaker-blog-posts {
    height: 350px;
    overflow: hidden;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}
.slick-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-next.slick-disabled, .slick-prev.slick-disabled {
    background: 0 0!important;
}

.slick-prev {
    padding-right: 3px;
    left: -37px;
}
.slick-next, .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    box-shadow: none!important;
    background: rgba(243,243,243,.57);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
}

.slick-prev:before {
    content: '\f104';
}
.slick-next:before, .slick-prev:before {
    font-family: FontAwesome;
    font-size: 35px;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d0cfc1!important;
    line-height: 21px;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blog_posts_3 .blog.blog-summary:nth-child(odd), .pastel_post_option_columns_3 .blog.blog-summary:nth-child(odd) {
    clear: none;
}
.blog_posts_2 .blog.blog-summary:nth-child(odd), .pastel_post_option_columns_2 .blog.blog-summary:nth-child(odd) {
    clear: left;
}
.blog_posts_3 .slick-track>.blog.blog-summary:nth-child(3n+3), .blog_posts_3 .slick-track>.blog.blog-summary:nth-child(even), .slick-track>.blog.blog-summary {
    clear: none!important;
    display: inline-block!important;
    margin-right: 1%!important;
    margin-left: 1%!important;
    margin-bottom: 10px!important;
}
.blog_posts_3 .blog.blog-summary, .pastel_post_option_columns_3 .blog.blog-summary {
    width: 31.9%;
    margin-bottom: 5%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    float: left;
}
.blog_posts_2 .blog.blog-summary, .pastel_post_option_columns_2 .blog.blog-summary {
    margin-bottom: 11%;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-right: 3.5%;
    float: left;
}
.slick-initialized .slick-slide {
    display: block;
}
article.blog-summary {
    position: relative;
    margin-bottom: 30px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
article.blog-summary {
    padding: 3px;
}
.hentry {
    margin: 0;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

article.blog-summary.has-post-thumbnail:before {
    top: 67px;
}
article.blog-summary:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 23px;
    height: auto;
    border: 1px solid #e9e8d6;
}

article.blog-summary .entry-header {
    text-align: center;
}
article.blog .entry-header {
    display: block;
    text-align: left;
    position: relative;
    overflow: visible;
}

article.blog-summary.has-post-thumbnail .blog_date_wrap {
    position: absolute;
    display: block;
    left: 0;
    top: 33px;
    right: 0;
    z-index: 1000;
    text-align: center;
}

article.blog-summary .blog_date_wrap {
    display: none;
}
a, a:link, a:visited {
    color: #b77b5d;
}
a:visited {
    color: purple;
}

article.blog-summary.has-post-thumbnail .blog_date_wrap .blog_date {
    display: inline-block;
    background-size: 64px 74px;
    background-repeat: no-repeat;
    background-position: center top;
    width: 65px;
    height: 75px;
    margin-left: -200px;
    padding-top: 11px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

article.blog-summary.has-post-thumbnail .blog_date_wrap .blog_date span {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 13px;
}

article.blog-summary.has-post-thumbnail .blog_date_wrap .blog_date span {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 13px;
}

article.blog-summary.has-post-thumbnail .blog_date_wrap .blog_date span {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 13px;
}

article.blog .entry-header .blog-title {
    padding: 0;
}

.blog_posts_3 .blog.blog-summary .entry-content, .pastel_post_option_columns_3 .blog.blog-summary .entry-content {
    min-height: 100px;
}

.blog_posts_2 .blog.blog-summary .entry-content, .pastel_post_option_columns_2 .blog.blog-summary .entry-content {
    min-height: 147px;
}
article.blog-summary .entry-content {
    margin: 0;
    padding: 15px 20px 4px;
    text-align: left;
}
article.blog .entry-content {
    margin: 0;
}
.entry-content, .entry-summary, .page-content {
    margin: 0;
}

article.blog-summary .entry-footer {
    margin-bottom: 0;
}
article.blog .entry-footer {
    position: relative;
    text-align: center;
    padding: 15px 20px;
    line-height: 2em;
    font-size: .8em;
    color: #666;
    margin-bottom: 20px;
}
.entry-footer {
    background: #FFF;
}

article.blog .entry-footer .blog_links>span {
    display: inline-block;
}

article.blog-summary .blog_button {
    z-index: 1000;
    position: relative;
    bottom: -4px;
    text-align: center;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}