.site-header{
    background: #ffffff;
    box-shadow: 0 10px 30px -7px #e2e2e2;
    opacity: 0.95;
    position: sticky;
    top: 0;
    height: 89px;
    z-index: 9999;
}
@media screen and (min-width: 37.5em){
  .site-header .header-wrapper {
    display: table;
    width: 100%;
    height: 59px;
    padding-bottom: 0;
    margin: 10px 0;
}
 
}
.site-header .header-wrapper {
    padding-bottom: 20px;
} 
@media screen and (min-width: 37.5em){
   .inner-wrap {
    padding: 0 40px;
}
}
.inner-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
} 
@media screen and (min-width: 37.5em){
   .site-header .header-wrapper .site-branding {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    font-size: 16px;
    padding: 0;
} 
}
.site-header .header-wrapper .site-branding {
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 37.5em){
   .site-header .header-wrapper .site-branding .site-title {
    vertical-align: middle;
    display: inline-block;
    } 
}

.site-header .site-branding .site-title {
    display: none !important;
}

@media screen and (min-width: 37.5em){
  .site-header .header-wrapper .main-navigation {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}  
}

.main-navigation, .main-navigation a, h3 {
    color: #c88462;
    font-family: 'Raleway';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.main-navigation {
    font-size: 16px;
    clear: both;
    width: 20em;
}

@media screen and (min-width: 37.5em){
  .menu-toggle {
    display: none;
}  
}

.menu-toggle {
    margin: 0 auto 30px;
}
@media screen and (min-width: 37.5em){
  .site-header .header-wrapper .main-navigation {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}  
}


.main-navigation, .main-navigation a, h3 {
    color: #c88462;
    font-family: 'Raleway';
}

@media screen and (min-width: 37.5em){
    .main-navigation ul {
    display: block;
}
}

@media screen and (min-width: 37.5em){
.main-navigation ul {
    display: inline-block;
}
}

@media screen and (min-width: 866px){
    .main-navigation ul {
    text-align: right;
    width: 50em;
}
}

.main-navigation ul {
    display: inline-block;
    text-align: center;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}
@media screen and (min-width: 37.5em){
    .main-navigation li {
    display: inline-block;
    width: auto;
    padding: 0 1em;
}
}

.main-navigation li {
    position: relative;
}
.main-navigation li a{
    text-decoration: none;
}
.site-branding img {
    width: 65%;
    height: 65%;
}