article.past-exhibits{
    width: 75%;
    margin: 25px auto 0;
    text-align: center;
}

section.past-exhibits-container{
    background-color: #ffffff;
    margin: 35px auto 0;
    padding: 35px;
    min-height: 50vh;
    width: 95%;
    box-shadow: 0 0 29px 0 rgba(50,50,50,.32);
    z-index: -5;
}

h1{
    color: #c88462;
    font-family: 'Caveat', cursive;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    margin-bottom: .5em;
}

h2{
    color: #7a7a7a;
    font-size: 30px;
}
p{
    text-align: left;
    line-height: 18pt;
}